img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    margin-right: 25px;
}

section {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    img {
        width: 100%;
    }

    .btn-ver-pelicula {
        width: 100%;
    }
}

@media (min-width: 375px) {
    .none {
        display: none;
    }
}

@media (min-width: 1200px) {
    .none {
        display: inline-block;
    }
}